body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: grid;
}

main {
    display: flex;
}

.options {
    display: flex;
    flex-direction: column;
}